body{
    font-family: 'Poppins';
    font-style: normal;
    background-color: #F2F2F2;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1109px;
}

.container__founder{
    display: flex;
    justify-content: space-between;
}

.hero__container{
    padding-bottom: 211px;
    padding-top: 188px;
}

.container__header {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.header-menu{
    width: 40px;
    height: 40px;
    background-color: #F5F6F7;
    border-radius: 50%;
}

.hero{
    background-image: url(../img/Bitmap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-dsc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;

    color: #FFFFFF;

    margin-bottom: 22px;
}

.hero-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 1.23;

    color: #FFFFFF;

    margin-bottom: 24px;
}

.hero-title+.hero-dsc{
    margin-bottom: 45px;
}

.hero__wrapper{
    width: 616px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.about__link,
.founder__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    text-decoration-line: underline;
    
    color: #FFD723;
}

.founder__dsc--first{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    
    color: rgba(77, 83, 60, 0.9);

    margin-top: 244px;
}

.founder__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    
    color: #4D533C;
}

.founder__dsc--second{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62; 
    
    color: rgba(33, 56, 66, 0.6);
}

.comment__ceo{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.67;

    margin-top: 244px;

    color: #4D533C;
}

.founder__name{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;

    color: #4D533C;
}

.founder__position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #152934;
}

.founder__link{
    color: #D4D6D4;
}

.founder__wrapper,
.about__wrapper{
    width: 475px;
}

.founder__wrapper{
    padding-left: 40px;
    padding-bottom: 60px;
    padding-right: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.about__wrapper{
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.section__about{
    padding-bottom: 150px;
}

.clients{
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    gap: 66px;
    padding-left: 65px;
    align-items: center;
    width: 1276px;
    padding-right: 166px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients img {
    width: 156px; 
    height: 113px;
}

.card__wrapper{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.name__wrapper{
    flex-direction: column;
}

.founder__img{
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
}
